{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}{{user.username}}{% endblock %}

{% block contenue %}

<div class="cart-main-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-10">
                <h1 class="description text-black"><strong> {{ user.username }}</strong></h1>
                <div class="table-content table-responsive">
                    <div class="col-sm-6">
        <table class="table table-striped table-hover">
            <tbody class="active">
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom d'utilisateur</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ user.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.addresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.ville }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>


            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <table class="table table-striped table-hover">
            <tbody class="active">

            <tr>
                <th>En Ligne Depuis</th>
                <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
            </tr>

            <tr>
                <th>Crée le :</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>

            <tr>
                <th>Activé</th>
                <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
            </tr>

            <tr>
                <th>Numéro Compte</th>
                <td>{{ user.numeroCompte }}</td>
            </tr>
            <tr>
                <th>Nom de la Boutique</th>
                <td>{{ user.nomBoutique }}</td>

            <tr>
                <th>Description de la Boutique </th>
                <td>{{ user.description }}</td>
            </tr>

            <tr>
                <th>Active</th>
                <td>{{ user.active ? 'Yes' : 'No' }}</td>
            </tr>
            </tbody>
        </table>


                </div>
            </div>
        </div>
    </div>
    </div>

</div>
{% endblock %}
