{% extends 'base.html.twig' %}
{% block title 'Seen Guinaar'%}
 {% block stylesheets %}
     <link href="{{ asset('StyleCv/cssamdy et sydu/agency.min.css') }}css/agency.min.css" rel="stylesheet">
     <link href="{{ asset('StyleCv/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
     <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
     <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


 {% endblock %}

 {% block body %}

<br> <br>

     <div class="breadcrumb-area pt-205 pb-210 bg-img" style="background-image: url({{ asset('assets/img/bg/breadcrumb.jpg') }})">
         <div class="container">
             <div class="breadcrumb-content">
                 <h2>shop</h2>
                 <ul>
                     <li><a href="#">home</a></li>
                     <li> shop </li>
                 </ul>
             </div>
         </div>
     </div>
     {% for message in app.flashes('success') %}
         <div class="alert alert-success">
             {{ message }}
         </div>
     {% endfor %}
     <div class="row  justify-content-center ">
         <div class="col-md-6 text-center">
             <h2 class="section-title mb-4 text-white">  <strong>Les Derniers Produits</strong> </h2>
         </div>
     </div>

     <div class="shop-page-wrapper hidden-items padding-filter">
         <div id="grid-5-col1" class="tab-pane fade active show">
             <div class="row custom-row">
                 {# miniature de tout les produit #}
                 {% for produit in produits %}
                     {#fenetre modal#}
                     <div class="modal fade" id="modalProduit{{ produit.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span class="ion-android-close" aria-hidden="true"></span>
                         </button>
                         <div class="modal-dialog" role="document">
                             <div class="modal-content">
                                 <div class="modal-body">
                                     <div class="qwick-view-left">
                                         <div class="quick-view-learg-img">
                                             <div class="quick-view-tab-content tab-content">
                                                 <div class="tab-pane active show fade" id="modal1" role="tabpanel">
                                                     {% if produit.filename %}
                                                         <img src="{{ vich_uploader_asset(produit, 'imageFile')|imagine_filter('thumb') }}"  alt ="card-img-top"  style="width:100%; height:auto;" >
                                                     {% else %}
                                                         <img src="{{ asset('assets/img/quick-view/l3.jpg') }}" alt="">
                                                     {% endif %}
                                                 </div>
                                                 <div class="tab-pane fade" id="modal2" role="tabpanel">
                                                     <img src="{{ asset('assets/img/quick-view/l2.jpg') }}" alt="">
                                                 </div>
                                                 <div class="tab-pane fade" id="modal3" role="tabpanel">
                                                     <img src="{{ asset('assets/img/quick-view/l3.jpg') }}" alt="">
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="quick-view-list nav" role=tablist>
                                             <a class="active" href="#modal1" data-toggle="tab" role="tab" aria-selected="true">
                                                 <img src="{{ asset('assets/img/quick-view/s1.jpg') }}" alt="">
                                             </a>
                                             <a href="#modal2" data-toggle="tab" role="tab" aria-selected="false">
                                                 <img src="{{ asset('assets/img/quick-view/s2.jpg') }}" alt="">
                                             </a>
                                             <a href="#modal3" data-toggle="tab" role="tab" aria-selected="false">
                                                 <img src="{{ asset('assets/img/quick-view/s3.jpg') }}" alt="">
                                             </a>
                                         </div>
                                     </div>
                                     <div class="qwick-view-right">
                                         <div class="qwick-view-content text-white">
                                             <h3 class=><strong>{{ produit.labelle}}</strong></h3>
                                             <div class="price">
                                                 <span class="new">{{ produit.prix}} Cfa</span>
                                                 <span class="old">3500 Cfa </span>
                                             </div>
                                             <div class="rating-number">
                                                 <div class="quick-view-rating">
                                                     <i class="ion-ios-star red-star"></i>
                                                     <i class="ion-ios-star red-star"></i>
                                                     <i class="ion-android-star-outline"></i>
                                                     <i class="ion-android-star-outline"></i>
                                                     <i class="ion-android-star-outline"></i>
                                                 </div>
                                                 <div class="quick-view-number">
                                                     <span>2 Ratting (S)</span>
                                                 </div>
                                             </div>
                                             <p> {{ produit.description }} .</p>
                                             <div class="quickview-plus-minus">

                                                 <div class="quickview-btn-cart">
                                                     <a class="btn-hover-black" href="{{ path('cart_index') }}"> Voir Panier</a>
                                                 </div>
                                                 <div class="quickview-btn-cart">
                                                     <a class="btn-hover-black" href="{{ path ('produit_show',{ id:produit.id, slug:produit.slug} ) }} ">Voir Produit</a>
                                                 </div>
                                                 <div class="quickview-btn-wishlist">
                                                     <a class="btn-hover" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>

                     {# fin fenetre modal#}
                     <div class="custom-col-5 custom-col-style">
                         <div class="single-product mb-35">
                             <div class="product-img">
                                 {% if produit.filename %}
                                     <img src="{{ vich_uploader_asset(produit, 'imageFile')|imagine_filter('thumb') }}"  alt ="card-img-top"  style="width:100%; height:auto;" >
                                 {% else %}
                                     <img src="{{ asset('assets/img/quick-view/l3.jpg') }}" alt="">
                                 {% endif %}                                        <div class="product-action">
                                     <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                     <a title="Quick View" data-toggle="modal" data-target="#modalProduit{{ produit.id }}" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                 </div>
                             </div>
                             <div class="product-content">
                                 <div class="product-title-price">
                                     <div class="product-title">
                                         <h4><a href="{{ path ('produit_show',{ id: produit.id, slug: produit.slug} ) }} " > <strong>{{ produit.labelle }} </strong></a></h4>
                                     </div>
                                     <div class="product-price">
                                         <span>{{ produit.formatPrice() }} Cfa </span>
                                     </div>
                                 </div>
                                 <div class="product-cart-categori">
                                     <div class="product-cart">
                                         <span></span>
                                     </div>
                                     <div class="product-categori">
                                         <a href="{{ path('cart_add',{id:produit.id}) }}"><i class="ion-bag"></i><strong> ajouter au panier</strong></a>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>

                 {% endfor %}
                 {# fin miniature de tout les produits #}
             </div>
         </div>
     </div>

     <!-- Produit les plus populaire -->
     <div class="site-section bg-light">
         <div class="container">
             <div class="row mb-5 justify-content-center">
                 <div class="col-md-6 text-center">
                     <h3 class="section-sub-title">Produits Impressionnants</h3>
                     <h2 class="section-title mb-3">Produits Présentés</h2>
                     <p></p>
                 </div>
             </div>
             {% for top1 in top1Produit %}
             <div class="bg-white py-4 mb-4">
                 <div class="row mx-4 my-4 product-item-2 align-items-start">

                     <div class="col-md-6 mb-5 mb-md-0">
                         {% if top1.filename %}
                             <img src="{{ vich_uploader_asset(top1, 'imageFile')|imagine_filter('thumb') }}"  alt ="card-img-top"  style="width:100%; height:auto;" >
                         {% else %}
                             <img src="{{ asset('assets/img/quick-view/l3.jpg') }}" alt="">
                         {% endif %}
                     </div>
                     <div class="col-md-5 ml-auto product-title-wrap">
                         <span class="number">01.</span>
                         <h3 class="text-black mb-4 font-weight-bold">{{top1.labelle}}</h3>
                         <p class="mb-4">{{top1.description}}</p>

                         <div class="mb-4">
                             <h3 class="text-black font-weight-bold h5">Prix: {{ top1.getformatPrice() }} Fcfa</h3>
                         </div>
                         <p>
                             <a href="{{ path('produit_show',{id:top1.id,slug:top1.slug}) }}" class="btn btn-black">Voir Produit</a>
                             <a href="{{ path('cart_add',{id:top1.id}) }}" class="btn btn-black">Ajouter au Panier</a>

                         </p>
                     </div>
                 </div>
             </div>

             {% endfor %}
             {% for top2 in top2Produit %}

             <div class="bg-white py-4">
                 <div class="row mx-4 my-4 product-item-2 align-items-start">
                     <div class="col-md-6 mb-5 mb-md-0 order-1 order-md-2">

                         {% if top2.filename %}
                             <img src="{{ vich_uploader_asset(top2, 'imageFile')|imagine_filter('thumb') }}"  alt ="card-img-top"  style="width:100%; height:auto;" >
                         {% else %}
                             <img src="{{ asset('assets/img/quick-view/l3.jpg') }}" alt="">
                         {% endif %}
                     </div>

                     <div class="col-md-5 mr-auto product-title-wrap order-2 order-md-1">
                         <span class="number">02.</span>
                         <h3 class="text-black mb-4 font-weight-bold">{{ top2.labelle }}</h3>
                         <p class="mb-4">{{ top2.description }}</p>

                         <div class="mb-4">
                             <h3 class="text-black font-weight-bold h5">Price: {{ top2.getFormatPrice }} Fcfa</h3>
                         </div>
                         <p>
                             <a href="{{ path('produit_show',{id:top2.id,slug:top2.slug}) }}" class=" btn btn-black btn-outline-black">Voir Produit</a>
                             <a href="{{ path('cart_add',{id:top2.id}) }}" class="btn btn-black btn-outline-black">Ajouter au Panier</a>
                         </p>
                     </div>
                 </div>
             </div>
             {% endfor %}
         </div>
     </div>
     <!--  fin Produit les plus populaire -->

     <!--Marchand de confiance -->
     <div class="site-section" id="about-section">
         {% for marchant in topBoutique %}
         <div class="container">
             <div class="row align-items-lg-center">
                 <div class="col-md-8 mb-5 mb-lg-0 position-relative">
                     {% if marchant.filename %}
                         <img src="{{ vich_uploader_asset(marchant, 'imageFile')|imagine_filter('boutique_icon') }}"  alt ="card-img-top"  style="width:100%; height:auto;" >
                     {% else %}
                         <img src="{{ asset('assets/img/quick-view/l3.jpg') }}" alt="">
                     {% endif %}
                     <div class="experience">
                         <span class="year">Marchand de Confiance</span>
                         <!--span class="caption">for 50 years</span-->
                     </div>
                 </div>
                 <div class="col-md-3 ml-auto">
                     <h2 class="section-title mb-3">{{marchant.nomBoutique}}</h2>
                     <h3 class="mb-3">Descriptuon de la Boutique</h3>
                     <p class="mb-4"><strong>{{ marchant.description }}!!!</strong></p>
                 </div>
             </div>
         </div>
         {% endfor  %}
     </div>
     <!-- fin Marchand de confiance -->
     <!--Dèveloppeur -->
    {# <div class="site-section border-bottom" id="team-section">
         <div class="container">
             <div class="row ">
                 <div class="col-12 text-center">
                     <h3 class="section-sub-title">Equipe</h3>
                     <h2 class="section-title mb-3">Leadership</h2>
                 </div>
             </div>
             <!-- section apropos de nous -->
             <div class="row">
                 <div class="col-6">

                     <div class="person text-center">
                         <img src="{{ asset('StyleCv/img/IMG_1228.JPG') }}" alt="Image" class="img-fluid rounded w-75 mb-3">
                        <a href="{{ path('cvAmdy') }}"> <h3>Amdy Diop</h3></a>
                         <p class="position text-muted">Co-Founder</p>
                         <p class="mb-4">etudiant en licence 3 informatique option <strong>Génie Logiciel</strong></p>

                         <ul class="ul-social-circle">
                             <li><a href="#"><span class="icon-facebook"></span></a></li>
                             <li><a href="#"><span class="icon-twitter"></span></a></li>
                             <li><a href="#"><span class="icon-linkedin"></span></a></li>
                             <li><a href="#"><span class="icon-instagram"></span></a></li>
                         </ul>
                     </div>

                 </div>
             </div>
        <!-- section a propos de nous-->
         </div>
     </div>#}
     <!-- fin Dèveloppeur -->

     <!-- Team -->
     <section class="bg-light page-section" id="team">
         <div class="container">
             <div class="row">
                 <div class="col-lg-12 text-center">
                     <h2 class="section-sub-title text-uppercase">Equipe</h2>
                     <h3 class="section-title mb-3 ">Leadership</h3>
                 </div>
             </div>
             <div class="row">
                 <div class="col-sm-3">
                 </div>
                 <div class="col-sm-4">
                     <div class="team-member">
                         <img class="img-fluid rounded w-75 mb-3"  src="{{ asset('StyleCv/img/IMG_1228.JPG') }}" alt="Amdy Diop" >
                         <a href="{{ path('cvAmdy') }}"> <h3>Amdy Diop</h3></a>
                         <p class="text-muted">Co-fondateur</p>
                         <ul class="ul-social-circle">
                             <li><a href="https://www.facebook.com/amdydiop.sn"><span class="icon-facebook"></span></a></li>
                             <li><a href="#"><span class="icon-twitter"></span></a></li>
                             <li><a href="#"><span class="icon-linkedin"></span></a></li>
                             <li><a href="#"><span class="icon-instagram"></span></a></li>
                         </ul>
                     </div>
                 </div>
                 <div class="col-sm-4">
                     <div class="team-member">
                         <img class="img-fluid rounded w-75 mb-3"  src="{{ asset('StyleCv/img/seydou.jpg') }}" alt="Amdy Diop" >
                         <a href="{{ path('cvAmdy') }}"> <h3>Seydou BA</h3></a>
                         <p class="text-muted">Co-fondateur</p>
                         <ul class="ul-social-circle">
                             <li><a href="#"><span class="icon-facebook"></span></a></li>
                             <li><a href="#"><span class="icon-twitter"></span></a></li>
                             <li><a href="#"><span class="icon-linkedin"></span></a></li>
                             <li><a href="#"><span class="icon-instagram"></span></a></li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     {# date de la promotion special promo#}
              <div class="site-blocks-cover overlay get-notification" id="special-section" style="background-image: url(images/hero_2.jpg); background-attachment: fixed; background-position: top;" data-aos="fade">
         <div class="container">

             <div class="row align-items-center justify-content-center">
                 <div class="col-md-7 text-center">

                     <h2 class="section-title text-white mb-4">Special Promo</h2>
                     <p class="mb-5 lead">
                         Pour le lancement du projet tous les produits sont à 50% de réduction pour les deux premières semaines et la livraison est gratuite
                     </p>
                     <div id="date-countdown" class="mb-5"></div>
                     <p><a href="{{ path('home') }}" class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block">Shop Now</a></p>
                 </div>
             </div>

         </div>
     </div>
     {# date de la promotion special promo#}

     <!-- section nos services-->
          <div class="site-section bg-light" id="services-section">
         <div class="container">
             <div class="row mb-5">
                 <div class="col-12 text-center">
                     <h3 class="section-sub-title">Nos Services</h3>
                     <h2 class="section-title mb-3">Nous Offrons Ces Services</h2>
                 </div>
             </div>
             <div class="row align-items-stretch">
                 <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
                     <div class="unit-4 d-flex">
                         <div class="unit-4-icon mr-4"><span class="text-primary icon-pie_chart"></span></div>
                         <div>
                             <h3>Business Consulting</h3>
                             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                             <p><a href="#">Learn More</a></p>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
                     <div class="unit-4 d-flex">
                         <div class="unit-4-icon mr-4"><span class="text-primary icon-backspace"></span></div>
                         <div>
                             <h3>Market Analysis</h3>
                             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                             <p><a href="#">Learn More</a></p>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
                     <div class="unit-4 d-flex">
                         <div class="unit-4-icon mr-4"><span class="text-primary icon-av_timer"></span></div>
                         <div>
                             <h3>User Monitoring</h3>
                             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                             <p><a href="#">Learn More</a></p>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="300">
                     <div class="unit-4 d-flex">
                         <div class="unit-4-icon mr-4"><span class="text-primary icon-beenhere"></span></div>
                         <div>
                             <h3>Seller Consulting</h3>
                             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                             <p><a href="#">Learn More</a></p>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="400">
                     <div class="unit-4 d-flex">
                         <div class="unit-4-icon mr-4"><span class="text-primary icon-business_center"></span></div>
                         <div>
                             <h3>Financial Investment</h3>
                             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                             <p><a href="#">Learn More</a></p>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="500">
                     <div class="unit-4 d-flex">
                         <div class="unit-4-icon mr-4"><span class="text-primary icon-cloud_done"></span></div>
                         <div>
                             <h3>Financial Management</h3>
                             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                             <p><a href="#">Learn More</a></p>
                         </div>
                     </div>
                 </div>

             </div>
         </div>
     </div>

     <!-- section nos services-->


{#contact
     <div class="site-section bg-light" id="contact-section">
         <div class="container">
             <div class="row mb-5">
                 <div class="col-12 text-center">
                     <h3 class="section-sub-title"> Formulaire de Contact </h3>
                     <h2 class="section-title mb-3">Contactez Nous</h2>
                 </div>
             </div>
             <div class="row justify-content-center">
                 <div class="col-md-7 mb-5">
                     <form action="#" class="p-5 bg-white">

                         <h2 class="h4 text-black mb-5">Contact Form</h2>

                         <div class="row form-group">
                             <div class="col-md-6 mb-3 mb-md-0">
                                 <label class="text-black" for="fname">Prénom</label>
                                 <input type="text" id="fname" class="form-control rounded-0">
                             </div>
                             <div class="col-md-6">
                                 <label class="text-black" for="lname"> Noms</label>
                                 <input type="text" id="lname" class="form-control rounded-0">
                             </div>
                         </div>

                         <div class="row form-group">

                             <div class="col-md-12">
                                 <label class="text-black" for="email">Email</label>
                                 <input type="email" id="email" class="form-control rounded-0">
                             </div>
                         </div>

                         <div class="row form-group">
                             <div class="col-md-12">
                                 <label class="text-black" for="message">Message</label>
                                 <textarea name="message" id="message" cols="30" rows="7" class="form-control rounded-0" placeholder="Write your notes or questions here..."></textarea>
                             </div>
                         </div>

                         <div class="row form-group">
                             <div class="col-md-12">
                                 <input type="submit" value="Envoyer Votre  Message" class="btn btn-black rounded-0 py-3 px-4">
                             </div>
                         </div>
                     </form>
                 </div>
             </div>
         </div>
     </div>
     {#contact #}

     {% block javascripts %}
         <script src="{{ asset('StyleCv/cssamdy et sydu/vendor/jquery/jquery.min.js') }}"></script>
         <script src="{{ asset('StyleCv/cssamdy et sydu/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

         <!-- Plugin JavaScript -->
         <script src="{{ asset('StyleCv/cssamdy et sydu/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

         <!-- Contact form JavaScript -->
         <script src="{{ asset('StyleCv/cssamdy et sydu/js/jqBootstrapValidation.js') }}"></script>
         <script src="{{ asset('StyleCv/cssamdy et sydu/js/contact_me.js') }}"></script>

         <!-- Custom scripts for this template -->
         <script src="{{ asset('StyleCv/cssamdy et sydu/js/agency.min.js') }}"></script>
     {% endblock %}


 {% endblock %}

