{% extends 'base.html.twig' %}
{% block title %} keur ma jaay {% endblock %}
{% block stylesheets %}
    <!-- Debut Style Contact StyleContact -->
    <link href="{{ asset('StyleContact/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">


    <!-- Plugin CSS -->
    <link href="{{ asset('StyleContact/vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="{{ asset('StyleContact/css/creative.min.css') }}" rel="stylesheet">
    <!-- fin StyleContact -->
    <!-- Place favicon.ico in the root directory -->
{% endblock %}
{% block body %}
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('images/properties/5d920444b048c344751767.jpg') }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('images/properties/5d91f2c8262a8078649734.jpg') }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('images/properties/5d9911e2a552b428343949.jpg') }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
    </div>
<div class="container">


    <h2>Les Dernier Maisons</h2>
    <div class="row flex">
        {% for property in properties %}
            <div class="col-4">
                <div class="card">
                    {% if property.filename %}
                        <img src="{{ vich_uploader_asset(property,'imageFile')|imagine_filter('thumb') }}"
                             alt="card-img-top" style="width: 100% ; height: auto;">
                    {% else %}
                        <img src="{{ '/images/properties/maison_a_etage_2_0.jpg' |imagine_filter('thumb') }}"
                             alt="card-img-top" style="width: 100% ; height: auto;">
                    {% endif %}
                    <div class="col-mb-3">

                    <div class="card-body">
                        <h5 class="card-title">

                            <a href="{{ path ('page_view',{ id:property.id, slug:property.slug}) }}" class="text-info">{{ property.title }}</a>
                        </h5>

                        <p class="card-text">{{ property.city }}  ({{ property.postal }})</p>

                        <div class="text-info" style="font-weight: bold;font-size: 2rem" class="col-md-3"> {{ property.getFormatPrice() }} cfa </div>

                    </div>
                </div>
            </div>


        </div>
         {% endfor %}
    </div>
</div>

    <!-- Contact Section -->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0 text-info"  style="font-size: 3em" >Entrons en contact!</h2>
                    <hr  >
                    <p class=" mb-8  " style="font-size: 2em" >
                        Prêt à commencer votre prochain projet avec moi? Appelez-moi ou envoyez-moi un email et je vous répondrai dans les plus brefs délais!
                    </p><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                    <i class="fas fa-phone fa-3x mb-3 text-info" ></i>
                    <div class="text-info" >(+221) 777794204 </div>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-info" ></i>
                    <!-- Make sure to change the email address in anchor text AND the link below! -->
                    <a class="d-block text-info" href="mailto:amdymila@gmail.com">amdymila@gmail.com</a>
                </div>
            </div>
        </div>
    </section>
{% block javascripts %}

 {% endblock %}

{% endblock %}
