{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Modifie Boutique{% endblock %}

{% block contenue %}


    <div class="card">
        <div class="card-header bg-dark">
            <h1 class="description text-black"><strong> Modification de la  Boutique: {{ boutique.nomBoutique }}</strong></h1>
        </div>
        <div class="card-body">
            <div class="contact-area ptb-100" >
                <div class="container">

                    <div class="contact-form-wrap text-dark">
                        <div class="contact-message">
                            {{ form_start(form) }}

                            <div class="row">
                                <div class="col-lg-5 ">
                                    <div class="contact-form-style contact-font-one ">
                                        <div class="section-title text-center mb-55 text-white bg-dark">
                                            <h2> {{ form_row(form.nomBoutique) }}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="contact-form-style font-weight-bold">

                                        <div class="section-title text-center mb-55 font-weight-bold text-dark">
                                            <h2>{{ form_row(form.description) }}</h2>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="contact-form-style contact-font-three">
                                        <div class="section-title text-center mb-55 font-weight-bold text-dark ">
                                            {{ form_row(form.adresse) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="contact-form-style contact-font-three">
                                        <div class="section-title text-center mb-55 font-weight-bold text-dark">
                                            {{ form_row(form.ville) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="contact-form-style contact-font-three">
                                        <div class="section-title text-center mb-55 font-weight-bold text-dark ">
                                            {{ form_row(form.prenom) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="contact-form-style contact-font-three">
                                        <div class="section-title text-center mb-55 font-weight-bold text-dark">
                                            {{ form_row(form.nom) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="contact-form-style contact-font-three">
                                        <div class="section-title text-center mb-55 font-weight-bold text-dark">
                                            {{ form_row(form.email) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="contact-form-style contact-font-three">
                                        <div class="section-title text-center mb-55 font-weight-bold text-dark">
                                            {{ form_row(form.numeroCompte) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="contact-form-style contact-font-three">
                                        <div class="section-title text-center mb-55 font-weight-bold ">
                                            {{ form_row(form.password) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="contact-form-style contact-font-three  bg-dark">
                                        <div class="section-title text-center mb-55 font-weight-bold ">
                                            {{ form_row(form.imageFile) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="contact-form-style contact-font-four">
                                    <div class="section-title text-center mb-55 font-weight-bold">
                                        {{ form_row(form.active) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="contact-form-style contact-font-four">
                                        <div class="section-title text-center mb-55 font-weight-bold">
                                            <button class="submit btn-hover" type="submit"> Enregistrer</button>
                                        </div>
                                    </div>

                                    {{ form_end(form) }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- contact-area start -->

    <!-- contact-area end -->
    {% endblock %}

