{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Boutiques{% endblock %}




    {% block contenue %}
        <h1 class="description">
        Liste de Tout Les Boutiques
        </h1>

        <table class="table">
            <thead>
            <tr >
                <th>Image</th>
                <th>Boutique</th>
                <th>Email</th>
                <th>Numéro Compte</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for boutique in boutiques %}
                <tr style="font-family: Arial,monospace" class="active" >
                    <td>
                        {% if boutique.filename %}
                            <img src="{{ vich_uploader_asset(boutique, 'imageFile')|imagine_filter('card') }}"  alt ="card-img-top"  style="width:60%; height:auto;" >
                        {% else %}
                            <img src="{{ asset('assets/img/cart/3.jpg') }}" alt="">
                        {% endif %}

                    </td>
                    <td>{{ boutique.nomBoutique }}</td>
                    <td>{{ boutique.email}}</td>
                    <td>{{ boutique.numeroCompte }}</td>
                    <td>{{ boutique.active ? 'Activé' : 'Non Avctivé' }}</td>
                    <td>

                        <a title="Voir" class="animate-right" href="{{ path('boutique_show', {'id': boutique.id}) }}" ><strong><button><i class="ion-ios-eye-outline"></i></button></strong></a>

                        <a title="modifier"   href="{{ path('boutique_edit', {'id': boutique.id}) }}" ><strong><button><i class="ion-edit"></i></button></strong></a>

                        <form method="post" action="{{ path('boutique_delete', {'id': boutique.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ boutique.id) }}">
                            <button><i class="ion-ios-trash-outline"></i></button>
                        </form>




                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="11">La Liste est vide</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <!--button class="btn btn"> <a href="{{ path('boutique_new') }} " class="text-white" >Nouveau Boutique</a> </button-->



        <!-- Table demo -->
        <div class="box-table">
            <table data-fn="contacts" data-url="https://codepen.io/nakome/pen/DnEvr.js"></table>
        </div>

        <div class="pagination justify-content-center ">
            {{ knp_pagination_render(boutiquePag) }}
        </div>

{% endblock %}
