{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Liste des Produits</h1>

   {# <table class="table">
        <thead>
            <tr>

                <th>Labelle</th>
                <th>Prix</th>
                <th>Tva</th>
                <th>Stock</th>
                <th>Stockinit</th>
                <th>Poids</th>
                <th>Visible</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.labelle }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.tva }}</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.stockinit }}</td>
                <td>{{ produit.poids }}</td>
                <td>{{ produit.visible ? 'Yes' : 'No' }}</td>
                <td>{{ produit.description }}</td>
                <td>
                    <a href="{{ path ('produit_show',{ id:produit.id, slug:produit.slug} ) }} ">show</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">la liste des produit est vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">Nouveau Produit</a>#}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
               Liste Des Produits

            </h1>
            <ol class="breadcrumb">
                <li><a href="">Acceuil</a></li>
                <li class="active"> Liste Des Produits</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Labelle</th>
                                    <th>Prix</th>
                                    <th>Tva</th>
                                    <th>Stock</th>
                                    <th>Stockinit</th>
                                    <th>Poids</th>
                                    <th>Visible</th>
                                    <th>Description</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for produit in produits %}
                                    <tr>
                                        <td>{{ produit.labelle }}</td>
                                        <td>{{ produit.prix }}</td>
                                        <td>{{ produit.tva }}</td>
                                        <td>{{ produit.stock }}</td>
                                        <td>{{ produit.stockinit }}</td>
                                        <td>{{ produit.poids }}</td>
                                        <td>{{ produit.visible ? 'Yes' : 'No' }}</td>
                                        <td>{{ produit.description }}</td>
                                        <td>

                                            <a href="{{ path ('crud_produit_show',{ id:produit.id, slug:produit.slug} ) }} " > <button class="icon-eye"> </button></a>
                                            <a href="{{ path('produit_edit', {'id': produit.id}) }}"><button class="icon-edit"></button> </a>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="10">la liste des produit est vide</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Labelle</th>
                                    <th>Prix</th>
                                    <th>Tva</th>
                                    <th>Stock</th>
                                    <th>Stockinit</th>
                                    <th>Poids</th>
                                    <th>Visible</th>
                                    <th>Description</th>
                                    <th>actions</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}
