{% extends 'base.html.twig' %}

{% block title %}Boutique Ouverte{% endblock %}

{% block body %}
    <br> <br>   <br> <br><br>

    {#liste image défilant#}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{asset('images/bg/guinar.jpg')}}" alt="First slide" style="width: 850px;height: 500px;">
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{{asset('images/bg/guinar1.jpg')}}" alt="Second slide" style="width: 850px;height: 480px;">
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{{asset('images/bg/guinar2.jpg')}}" alt="Third slide" style="width: 850px;height: 480px;">
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{{asset('images/bg/guinar3.jpg')}}" alt="Third slide" style="width: 850px;height: 480px;">
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précedent </span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div>
    {# fin liste image défilant#}

    <!-- blog-area start -->
    <div class="blog-area pt-100 pb-100">
        <div class="container">
            <div class="card">
                <div class="card-header ">
                    <h1 class="description text-black"><strong> Modification de la  Boutique: {{ boutique.nomBoutique }}</strong></h1>
                </div>
                <div class="card-body">
                    <div class="contact-area ptb-100" >
                        <div class="container">

                            <div class="contact-form-wrap ">
                                <div class="contact-message">
                                    {{ form_start(form) }}

                                    <div class="row">
                                        <div class="col-lg-5 ">
                                            <div class="contact-form-style contact-font-one ">
                                                <div class="section-title text-center mb-55 text-white">
                                                    <h2> {{ form_row(form.nomBoutique) }}</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="contact-form-style font-weight-bold">

                                                <div class="section-title text-center mb-55 font-weight-bold text-dark">
                                                    <h2>{{ form_row(form.description) }}</h2>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="contact-form-style contact-font-three">
                                                <div class="section-title text-center mb-55 font-weight-bold text-dark ">
                                                    {{ form_row(form.adresse) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="contact-form-style contact-font-three">
                                                <div class="section-title text-center mb-55 font-weight-bold text-dark">
                                                    {{ form_row(form.ville) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="contact-form-style contact-font-three">
                                                <div class="section-title text-center mb-55 font-weight-bold text-dark ">
                                                    {{ form_row(form.prenom) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="contact-form-style contact-font-three">
                                                <div class="section-title text-center mb-55 font-weight-bold text-dark">
                                                    {{ form_row(form.nom) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="contact-form-style contact-font-three">
                                                <div class="section-title text-center mb-55 font-weight-bold text-dark">
                                                    {{ form_row(form.email) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="contact-form-style contact-font-three">
                                                <div class="section-title text-center mb-55 font-weight-bold text-dark">
                                                    {{ form_row(form.numeroCompte) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="contact-form-style contact-font-three">
                                                <div class="section-title text-center mb-55 font-weight-bold ">
                                                    {{ form_row(form.password) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="contact-form-style contact-font-three ">
                                                <div class="section-title text-center mb-55 font-weight-bold ">
                                                    {{ form_row(form.imageFile) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="contact-form-style contact-font-four">
                                                <div class="section-title text-center mb-55 font-weight-bold">
                                                    <button class="submit btn-hover" type="submit">Enregistrer</button>
                                                </div>
                                            </div>
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog-area end -->
{% endblock %}
